@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
  background-color: #000411;
  background-image: linear-gradient(135deg, #000411 0%, #160c28 100%);
}

.surface-gradient {
  background-color: #000411;
  background-image: linear-gradient(135deg, #000411 0%, #636b68 100%);
}

.tint-color {
  filter: invert(100%);
}
